<p>
  <mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-padding pointer" routerLink="/home">Pradinis puslapis</span>

    <span class="toolbar-spacer menu-padding"></span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/shop">Parduotuvė</span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/history">Test</span>


    <span class="toolbar-endspacer"></span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/register">Registruotis</span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/login">Prisijungti</span>

  </mat-toolbar>
</p>
<router-outlet></router-outlet>
