<p>
  <mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-padding pointer" routerLink="/home">Home</span>

    <span class="toolbar-spacer menu-padding"></span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/shop">Shop</span>

    <span class="toolbar-endspacer"></span>
    <span class="toolbar-spacer menu-padding">{{username}}</span>
    <!---
    <span class="toolbar-spacer menu-padding pointer" *ngIf="worker" routerLink="/add-item">
      <mat-icon>library_add</mat-icon>
    </span>
    --->
    <span class="toolbar-spacer menu-padding pointer" *ngIf="worker" routerLink="/workspace">Workspace</span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="!guest" routerLink="/order-list">Orders</span>
    <span class="toolbar-spacer menu-padding pointer" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="guest" routerLink="/register">Register</span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="guest" routerLink="/login">Sign-in</span>
    <span class="toolbar-spacer menu-padding pointer" *ngIf="signout" (click)="signOutUser()">Sign-out</span>



  </mat-toolbar>
</p>
<router-outlet></router-outlet>
