<head>
  <link rel="stylesheet" href="./register.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1>
  New user registration
</h1>
<div class="register-form">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.name" minlength="3" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Lastname</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.lastname" minlength="3" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.email" minlength="8" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Phone</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.phone">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Login</mat-label>
      <input matInput placeholder=" " [(ngModel)]="register.login" minlength="5" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder=" " [(ngModel)]="register.password" minlength="5" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput placeholder=" " [(ngModel)]="confirmPass" minlength="5" required>
    </mat-form-field>
  </p>

  <button class="btn btn-dark" (click)="registerUser()">Register</button>

</div>
