


<mat-card class="order-card mat-elevation-z8">
  <mat-card-title>Užsakymas nr. {{order?.number}}</mat-card-title>
  <mat-card-subtitle>{{order?.date}}</mat-card-subtitle>

</mat-card>
<br>

<div class="order-container mat-elevation-z8">
  <div class="order-table-container">

    <table #table mat-table [dataSource]="itemList" class="order-table">
      <ng-container matColumnDef="name">
        <th class="col" mat-header-cell *matHeaderCellDef>Pavadinimas</th>
        <td class="col" mat-cell *matCellDef="let row">{{row?.name}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th class="col" mat-header-cell *matHeaderCellDef>Kaina</th>
        <td class="col" mat-cell *matCellDef="let row">{{row.price! | currency:'EUR': 'symbol-narrow':'1.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th class="col" mat-header-cell *matHeaderCellDef>Nuolaida</th>
        <td class="col" mat-cell *matCellDef="let row">{{row?.discount}}%</td>
      </ng-container>
      <ng-container matColumnDef="totalPrice">
        <th class="col" mat-header-cell *matHeaderCellDef>Visa kaina</th>
        <td class="col" mat-cell *matCellDef="let row">{{(row.price! - (row.price!*row.discount!/100)) * row.quantity | currency:'EUR': 'symbol-narrow':'1.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th class="col" mat-header-cell *matHeaderCellDef>Kiekis</th>
        <td class="col" mat-cell *matCellDef="let row">{{row?.quantity}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th class="col" style="width: 400px;" mat-header-cell *matHeaderCellDef>Aprašymas</th>
        <td class="col" style="width: 400px;" mat-cell *matCellDef="let row">{{row?.description}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th class="col" mat-header-cell *matHeaderCellDef>Tipas</th>
        <td class="col" mat-cell *matCellDef="let row">{{row?.type}}</td>
      </ng-container>
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="openItem(row.id)">
            <mat-icon>zoom_in</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<br>

<mat-card class="order-card mat-elevation-z8" *ngIf="showOrderComment">
  <mat-card-content>
    Užsakymo komentaras: {{order?.comment}}

  </mat-card-content>
</mat-card>
<br>

<mat-card class="order-card mat-elevation-z8">
  <mat-card-title>{{order?.status}}</mat-card-title>
  <mat-card-content>
    Visa užsakymo suma: {{fullCost | currency:'EUR': 'symbol-narrow':'1.2-2'}}<br>
    Pritaikytų nuolaidų suma: {{order?.discount | currency:'EUR': 'symbol-narrow':'1.2-2'}}<br>
    <mat-divider inset></mat-divider>
    Užsakymo kaina: {{order?.sum | currency:'EUR': 'symbol-narrow':'1.2-2'}}

  </mat-card-content>

</mat-card>
