h1 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: bold;
}

div {
  text-align: center;
}

#melyna {
  color: #0000ff;
  font-weight: bold;
}

img {
  margin: 1rem 1rem 1rem;
  float: left;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.cart-item-txt{
  font-size: medium;
  padding: 10px 10px;
  margin: 0rem 0rem 1rem;
  color: black;
  font-weight: bold;
}


.cart-edit-button {
  border-radius: 20px;
}

.cart-edit-button:hover {
  background-color:blue;
}

.price {
  display:flex;
  align-items:center;
  justify-content:center;
}
.discount {
  padding: 0px 20px;
  display:flex;
  align-items:right;
  justify-content:right;
  text-align: right;
  color:red;
}

.strikethrough {
  text-decoration: line-through;
}

.stretch-badge > .mat-badge-content {
  width: auto;
  border-radius: 13px;
  right: unset;
  min-width: 25px;
  min-height: 20px;
  border-radius: 10px;
}

