<head>
  <link rel="stylesheet" href="./payment.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance: textfield;
      }
  </style>
</head>

<h1>
  Užpildykite apmokėjimo duomenis
</h1>
<h1>
  {{total | currency:'EUR':true: '1.0-2'}}
</h1>

<mat-grid-list cols="4">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>

    <mat-card class="payment-form" >

      <div class="form" *ngIf="address">

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Miestas</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address.city" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Gatve</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address.street" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Namo nr.</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address_b" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Buto nr.</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address_a" >
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Zip kodas</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address_z" required>
            <span matPrefix>LT-&nbsp;</span>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Komentaras</mat-label>
            <textarea matInput placeholder=" " [(ngModel)]="comment"></textarea>
          </mat-form-field>
        </p>

      </div>

    </mat-card>


  </mat-grid-tile>


  <mat-grid-tile>


    <mat-card class="payment-form">
      <div class="form">

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Sąskaitos numeris</mat-label>
            <input matInput placeholder=" " [(ngModel)]="saskaita" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Galiojimo laikas</mat-label>
            <input matInput placeholder=" " [(ngModel)]="galiojimas" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>CCV</mat-label>
            <input matInput placeholder=" " [(ngModel)]="ccv" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Banko pin kodas</mat-label>
            <input matInput placeholder=" " [(ngModel)]="pin" required>
          </mat-form-field>
        </p>

        <button routerLink="/payment" mat-raised-button (click)="initiatePayment()">Apmokėti</button>
      </div>

    </mat-card>




  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>










<!--



<mat-card>
 <mat-card class="inline-block">

  <div class="payment-form">
    <form action="/action_page.php" class="form">

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Miestas</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Gatve</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Namo nr.</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Buto nr.</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

    </form>
  </div>
 </mat-card>


 <mat-card class="inline-block">
  <div class="payment-form">
    <form action="/action_page.php" class="form">

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Sąskaitos numeris</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Galiojimo laikas</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>CCV</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Banko pin kodas</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <button routerLink="/payment" mat-raised-button (click)="pay()">Apmokėti</button>
    </form>
  </div>

 </mat-card>

</mat-card>

-->
