<head>
  <link rel="stylesheet" href="./payment.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance: textfield;
      }
  </style>
</head>

<h1>

</h1>
<mat-card class="order-card mat-elevation-z8">
  <mat-card-title style="text-align: center;">Užpildykite apmokėjimo duomenis</mat-card-title>
</mat-card>
<br>

<mat-card class="order-card mat-elevation-z8">
  <mat-card-title>Krepšelio suma</mat-card-title>
  <mat-card-content>
    Visa užsakymo suma: {{fullCost | currency:'EUR': 'symbol-narrow':'1.2-2'}}<br>
    Pritaikytų nuolaidų suma: {{fullDiscount | currency:'EUR': 'symbol-narrow':'1.2-2'}}<br>
    <mat-divider inset></mat-divider>
    Užsakymo kaina: {{sum | currency:'EUR': 'symbol-narrow':'1.2-2'}}
  </mat-card-content>
</mat-card>
<br>

<mat-grid-list cols="4" style="max-width: 1570px; max-height: 800px; margin-left: auto; margin-right: auto;">
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile style="height: 550px;">
    <mat-card class="payment-form mat-elevation-z8" style="height: 500px;">
      <mat-card-content class="form" *ngIf="address" style="height: 500px;">

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Miestas</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address.city" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Gatve</mat-label>
            <input matInput placeholder=" " [(ngModel)]="address.street" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Namo nr.</mat-label>
            <input matInput NumbersOnly [allowDecimals]="false" placeholder=" " [(ngModel)]="address_b" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Buto nr.</mat-label>
            <input matInput NumbersOnly [allowDecimals]="false" placeholder=" " [(ngModel)]="address_a" >
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Zip kodas</mat-label>
            <input matInput NumbersOnly [allowDecimals]="false" placeholder=" " [(ngModel)]="address_z" required>
            <span matPrefix>LT-&nbsp;</span>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Komentaras</mat-label>
            <textarea matInput placeholder=" " [(ngModel)]="comment"></textarea>
          </mat-form-field>
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile style="height: 550px;">
    <mat-card class="payment-form mat-elevation-z8" style="height: 500px;">
      <mat-card-content class="form" style="height: 500px;">
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Sąskaitos numeris</mat-label>
            <input matInput NumbersOnly [allowDecimals]="false" placeholder=" " [(ngModel)]="saskaita" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Galiojimo laikas</mat-label>
            <input matInput placeholder=" " [(ngModel)]="galiojimas" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>CCV</mat-label>
            <input matInput NumbersOnly [allowDecimals]="false" placeholder=" " [(ngModel)]="ccv" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Banko pin kodas</mat-label>
            <input matInput NumbersOnly [allowDecimals]="false" placeholder=" " [(ngModel)]="pin" required>
          </mat-form-field>
        </p>

        <button routerLink="/payment" mat-raised-button style="margin-right: 5px;" (click)="initiatePayment()">Apmokėti</button>
        <button routerLink="/cart" mat-raised-button>Atšaukti</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>










<!--



<mat-card>
 <mat-card class="inline-block">

  <div class="payment-form">
    <form action="/action_page.php" class="form">

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Miestas</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Gatve</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Namo nr.</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Buto nr.</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

    </form>
  </div>
 </mat-card>


 <mat-card class="inline-block">
  <div class="payment-form">
    <form action="/action_page.php" class="form">

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Sąskaitos numeris</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Galiojimo laikas</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>CCV</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Banko pin kodas</mat-label>
          <input matInput placeholder=" " required>
        </mat-form-field>
      </p>

      <button routerLink="/payment" mat-raised-button (click)="pay()">Apmokėti</button>
    </form>
  </div>

 </mat-card>

</mat-card>

-->
