.item {
    width: 300px;
    height: auto;
}
  .parking-table-container {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
}

.parking-container {
  position: relative;
  margin: 4rem 28rem 0rem
}
